html {
	font-size: 16px;
}

body {
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 400;
	color: #000;
	min-width: 320px;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: #f7f7f7;
}

a:hover {
	color: #555;
}

.nabvar-light .navbar-nav .nav-link {
	color: #f7f7f7;
	font-weight: 500;
	text-transform: uppercase;
}

.navbar-nav .dropdown-menu {
	right: 0;
	left: auto;
}

.top-menu li a::after {
	content: '';
	display: block;
	width: 100%;
	background-color: #f7f7f7;
	height: 1px;
	transition: all .3s;
	transform: scale(0);
}

.top-menu li a:hover::after {
	transform: scale(1);
}

i {
	margin-left: 8px;
}