{% extends "bases/base.html" %}
{% block start %}
    <div class="container">
      <div class="d-flex justify-content-center mt-5">
        <div class="text-left">

          <div class="card" style="background-color: #545766; color: #fff; width: 30rem;">
            <div class="card-body">
              <p>Количество пропусков всего: {{ out.pass_count }}</p>
              <p>Количество записей в журнале: {{ out.logs_count }}</p>
              <p>Количество опозданий в журнале: {{ out.delay_count }}</p>
              <p>Количество записей за сегодня: {{ out.today_logs_count }}</p>
              <p>Количество опозданий за сегодня: {{ out.today_delay_count }}</p>
              <hr>
              <form class="row g-3" action="{{url_for('start_page')}}" method="POST" >
              <div class="col-auto">
                <input type="text" class="form-control" name="id" placeholder="Номер удостоверения" value="{{ old_id if res }}">
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Проверить</button>
              </div>
            </form>
            {% if res %}
                  {% if out2 != None %}
                    <p>Номер пропуска: {{out2.id_pass}}</p>
                    <p>Начало действия: {{out2.start_date}}</p>
                    <p>Конец действия: {{out2.end_date}}</p>
                {% else %}
                    <p>Не найден пропуск!</p>
                {% endif %}
            {% endif %}
            </div>
          </div>

        </div>
      </div>
    </div>
{% endblock %}