
<table class="table">
          <thead>
            <tr>
              <th scope="col">Статус</th>
              <th scope="col">ФИО</th>
              <th scope="col">Номер удостоверения</th>
              <th colspan="2" scope="col">Должность (и группа)</th>
              <th scope="col">Расписание</th>
              <th scope="col">Время действия</th>
              <th scope="col">Редактировать</th>
            </tr>
          </thead>
          <tbody>
            {% for j in jurnal %}
            <tr>
                <td class="col-1">{{ j.inside_status }}</td>
                <td class="col-2">{{ j.surname + ' ' + j.firstname}}</td>
                <td class="col-1">{{ j.pass_id }}</td>
                {% if j.group_name != None %}
                    <td class="col-1">{{ j.job }}</td>
                    <td class="col-1">{{ j.group_name }}</td>
                {% else %}
                    <td colspan="2" class="col-2">{{ j.job }}</td>
                {% endif %}
                <td class="col-2">{{ j.start_time_day, j.end_time_day }}</td>
                <td class="col-1">{{ j.log_time }}</td>
                <td>
                <button type="button" class="btn btn-primary btn-sm">Редактировать</button>
                <a href="/delete_log/0" class="btn btn-danger btn-sm">Удалить</a>
              </td>
            </tr>
            {% endfor %}
            </tbody>
</table>
