{% extends "bases/navbar.html" %}
{% block start %}
    <p>Количество пропусков всего: {{ out.count_pass }}</p>
    <p>Количество записей в журнале: {{ out.count_logs }}</p>
    <hr>
    <form action="{{url_for('start_page')}}" method="POST">
        <input type="text" name="id" placeholder="Номер удостоверения" value="{{ old_id if res }}">
        <input type="submit" value="Проверить">
    </form>
    {% if res %}
        {% if out2 != None %}
            <p>Номер пропуска: {{out2.id_pass}}</p>
            <p>Начало действия: {{out2.start_date}}</p>
            <p>Конец действия: {{out2.end_date}}</p>
        {% else %}
            <p>Не найден пропуск!</p>
        {% endif %}
    {% endif %}
{% endblock %}