{% extends "bases/base.html" %}
{% block start %}

    <div class="container">
      <div class="d-flex justify-content-center mt-5">
        <form action="{{ url_for('new_log') }}" method="POST">
          <div class="d-flex justify-content-center">
            <label for="number-ticket" class="form-label">Номер пропуска</label>
          </div>
          <div>
            <input type="text" class="form-control" id="number-ticket" name="id">
          </div>
          <div class="d-flex justify-content-between mt-3">
              <button class="btn btn-light btn-sm col-4" name="btn" value="TRUE">Вход</button>
              <button class="btn btn-light btn-sm col-4" name="btn" value="FALSE">Выход</button>
          </div>
        </form>
      </div>
    </div>


    <!--Тут можно как-то улучшить внешний вид таблицы -->
<div class="container">
    <br>
<p class="h3 text-center">Последние события:</p>
    <table class="table">
        <tr>
            <th>Номер записи</th>
            <th>Тип события</th>
            <th>Номер пропуска</th>
            <th>Время события</th>
            <th>Время опоздания</th>
        </tr>
        {% for log in logs %}
            <tr>
                <td>{{ log.id_log }}</td>
                <td>{{ log.inside_status }}</td>
                <td>{{ log.pass_id }}</td>
                <td>{{ log.log_time }}</td>
                <td>{{ log.delay_time }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}